.arp-panel {
  height: 73vh !important;
  min-height: 300px;
  width: 80%;
  padding: 13px;
  margin: 5vh auto;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 5px;
  background-color: #e9d8a6;
}
