.iframe-container {
  position: relative;
  width: 100%;
  height: 100%;

  .iframe-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--vscode-editor-background);
    z-index: 1;
    background-image: radial-gradient(circle farthest-corner at center, #282828 0%, #3c3836 100%);
  }

  .default-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .loading-spinner {
      width: 40px;
      height: 40px;
      border: 3px solid var(--vscode-button-background);
      border-top-color: transparent;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    .loading-text {
      color: var(--vscode-editor-foreground);
      font-size: 14px;
    }
  }

  .iframe-content {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 2;

    &.loading {
      display: none !important;
    }

    &.loaded {
      display: block;
    }

    // &.loaded {
    //   opacity: 1;
    //   transition: opacity 0.3s ease-in-out;
    // }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}