#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}

.no-js #loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #16a085;
  -webkit-animation: spin 1.7s linear infinite;
  animation: spin 1.7s linear infinite;
  z-index: 11;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin-reverse 0.6s linear infinite;
  animation: spin-reverse 0.6s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.navigation {
  width: 10%;
  font-size: 0.7rem;
  font-weight: bold;
}

#frame-page {
  font-size: 0.6rem;
  flex-direction: column;
  height: 100%;
  padding: 3px 5px;
}
#frame-page .filter {
  margin: 0;
  flex-basis: 2rem;
}
#frame-page .filter span {
  padding: 0 0.4rem;
}
#frame-page .filter input {
  padding: 0 0.4rem;
}
#frame-page .main-content {
  flex-grow: 0;
  flex-shrink: 1;
  overflow-y: auto;
  margin-top: 3px;
}
#frame-page .main-pagination {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 2rem;
  margin: 0;
}
#frame-page .main-pagination ul.pagination {
  margin: 0;
  position: absolute;
  bottom: 5px;
}
#frame-page .main-pagination ul.pagination a.page-link {
  padding: 0 0.4rem;
}
#frame-page th {
  background-color: #14213d;
  color: #edf2f4;
  text-align: center;
}
#frame-page tr.active > td {
  background-color: #94d2bd;
  color: #001219;
}
#frame-page tr.tcp > td {
  background-color: #005f73;
  color: #edf2f4;
}
#frame-page tr.arp > td {
  background-color: #84a98c;
  color: #001219;
}
#frame-page tr.http > td {
  background-color: #3AB0FF;
  color: #edf2f4;
}
#frame-page tr.dump > td {
  background-color: #8d99ae;
  color: #001219;
}
#frame-page td {
  background-color: #e9d8a6;
  color: #001219;
  padding: 0.2em;
  max-height: 1.2em;
  height: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  font-family: "0xProto Nerd Font", sans-serif;
}
#frame-page td.no {
  max-width: 5vw;
  width: 5vw;
}
#frame-page td.ipadd {
  max-width: 12vw;
  width: 12vw;
}
#frame-page td.time {
  max-width: 4vw;
  width: 4vw;
}
#frame-page td.info {
  max-width: 30vw;
  width: 30vw;
}

.overview {
  height: 73vh !important;
  min-height: 300px;
  width: 80%;
  padding: 13px;
  margin: 12vh auto;
  border: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
