@import '../../common';
#detail {
    overflow: auto;
    margin: 0;
    font-size: 12px;
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap;
    align-items: start;
    justify-content: left;
    width: 100%;
    // min-height: 100%;
    overflow-x: hidden;
}
#detail>.index {
    padding: 1rem 0;
    flex-basis: 12%;
    flex-shrink: 0;
    flex-grow: 0;
    min-height: 100%;
    background-color: var(--vscode-list-dropBackground);
}
#detail>.hex {
    padding: 1rem 0;
    flex-basis: 33rem; 
    display: flex; 
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: var(--vscode-minimap-infoHighlight);
    code {
        border-radius: 0 !important;
    }
    code:nth-child(8n) {
        margin-right: 1rem;
    }
    code:nth-child(16n) {
        margin-right: 0;
    }
}
#detail>.text {
    padding: 1rem;
    flex-basis: 16rem; 
    overflow-x: hidden;
    white-space: break-spaces;
    word-break: break-all;
}
#detail>.text .asc {
    font-family: $base-family;
    white-space: break-spaces;
    word-break: break-all;
    height: 1.5rem;
    display: inline;
    margin: 0 .3rem; 
    padding: 0;
    display: block;
    text-align: left;
    flex-shrink: 0;
    span{
        display: inline;
        height: 1.5rem;
        background-color: darkgoldenrod;
        color: darkblue;
    }
}
.index pre {
    margin: 0 14px;
    padding: 0;
    text-align: right;
    font-family: $base-family;
    height: 1.5rem;
    &.active {
        background-color: darkgoldenrod;
        color: darkblue;
    }
}
code {
    text-align: center;
    margin: 0;
    padding: 0;
    flex-basis: 2rem;
    height: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
    font-family: $base-family;
    &:hover{
        color: var(--vscode-list-focusOutline);
        background-color: var(--vscode-list-focusForeground);
    }
    &.active {
        background-color: darkgoldenrod;
        color: darkblue;
    }
}
