.overview {
  padding: 13px;
  .overview-frames {
    height: 30vh !important;
    min-height: 200px;
    margin: 30px 10px;
    border: 1px solid #ddd ;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 5px;
  }
  .overview-head {
    .p-card-body{
      background-color: var(--vscode-banner-background);
    }
  }
  .http-statistic-card>.p-card-body>.p-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    >.p-card {
        width: 31%;
    }
}
}