.overview {
  padding: 13px;
  overflow: auto;
  .overview-frames {
    height: 33vh !important;
    min-height: 200px;
    margin: 30px 10px;
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 5px;
  }

  .overview-head {
    .p-card-body {
      background-color: var(--vscode-banner-background);
    }
  }
  .ip-statistic-card>.p-card-body>.p-card-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    .ip {
      width: 66%;
    }
    .iptype {
      width: 31%;
    }
    margin-bottom: 20px;
    // >.p-card {
    //   width: 60%;
    // }
  }
  .http-statistic-card>.p-card-body>.p-card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    >.p-card {
      width: 31%;
    }
  }
}