.overview {
  padding: 13px;
  .overview-frames {
    height: 35vh !important;
    min-height: 200px;
    margin: 30px 10px;
    border: 1px solid #ddd ;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 5px;
  }
  .overview-head {
    .p-card-body{
      background-color: var(--vscode-banner-background);
    }
  }
}