@import '../common';
@import 'loading';

html {
  height: 100%;
  font-size: $base;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#content {
  background-color: $base-bk-color;
}
#root {
  height: 100%;
  width: 100%;
}

.navigation {
  width: 10%;
  font-size: .7rem;
  font-weight: bold;
}



$t-select :#94d2bd;
$t-select-font: #001219;

$t-def: #e9d8a6;
$t-def-font: #001219;


$t-tcp: #005f73;
$t-tcp-font: #edf2f4;


$t-arp: #84a98c;
$t-arp-font: #001219;


$t-http: #3AB0FF;
$t-http-font: #edf2f4;


$t-dump: #8d99ae;
$t-dump-font: #001219;

#frame-page {
  font-size: .6rem;
  flex-direction: column;
  height: 100%;
  padding: 3px 5px;

  .filter {
    margin: 0;
    flex-basis: 2rem;

    span {
      padding: 0 .4rem;
    }

    input {
      padding: 0 .4rem;
    }
  }

  .main-content {
    flex-grow: 0;
    flex-shrink: 1;
    overflow-y: auto;
    margin-top: 3px;
  }

  .main-pagination {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 2rem;
    margin: 0;

    ul.pagination {
      margin: 0;
      position: absolute;
      bottom: 5px;

      a.page-link {
        padding: 0 .4rem;
      }
    }
  }

  th {
    background-color: #14213d;
    color: $t-tcp-font;
    text-align: center;
  }

  tr.active>td {
    background-color: $t-select;
    color: $t-select-font;
  }

  tr.tcp>td {
    background-color: $t-tcp;
    color: $t-tcp-font;
  }

  tr.arp>td {
    background-color: $t-arp;
    color: $t-arp-font;
  }
  tr.http>td {
    background-color: $t-http;
    color: $t-http-font;
  }

  tr.dump>td {
    background-color: $t-dump;
    color: $t-dump-font;
  }

  td {
    background-color: $t-def;
    color: $t-def-font;
    padding: .2em;
    max-height: 1.2em;
    height: 1.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    // font-weight: bold;
    font-family: $base-family;
  }

  td.no {
    max-width: 5vw;
    width: 5vw;
  }

  td.ipadd {
    max-width: 12vw;
    width: 12vw;
  }

  td.time {
    max-width: 4vw;
    width: 4vw;
  }

  td.info {
    max-width: 30vw;
    width: 30vw;
  }
}

.overview {
  height: 73vh !important;
  min-height: 300px;
  width: 80%;
  padding: 13px;
  margin: 12vh auto;
  border: 1px solid #ddd ;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 5px;
  background-color: #e9d8a6;
}