@import '../var';
@import '../theme';
#app {
    justify-content:space-between;
    overflow: hidden;
}
.ctl {
    flex-basis: 200px;
    flex-grow: 0;
    input {
        width: 150px;
    }
}
.p-menubar{
    a {
        font-size: 0.9rem;
        padding: 6px 4px !important;
    }
}
.footbar {
    background-color: var(--vscode-editor-background);
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    p {
        text-align: right;
        padding-right: 20px;
    }
}

html, body, #app {
    height: 100%;
    padding: 0;
    margin: 0;
}
.card{
    display: flex;
    flex-direction: column;
}
iframe {
    border: 0;
    margin: 0;
    flex-grow: 1;
    width: 100%;
}
.p-sidebar-bottom .p-sidebar{
    height: 40rem !important;
}
iframe#comments {
    width: 100%;
    height: 100% !important;
}