@import '../var';
@import '../theme';

.ctl {
    flex-basis: 200px;
    flex-grow: 0;
    input {
        width: 150px;
    }
}
.p-menubar{
    a {
        padding: 12px 10px !important;
    }
}
.footbar {
    height: 20px;
    background-color: #3C3D37;
}

html, body, #app {
    height: 100%;
    padding: 0;
    margin: 0;
}
.card{
    display: flex;
    flex-direction: column;
}
iframe {
    border: 0;
    margin: 0;
    flex-grow: 1;
    width: 100%;
    
}