:root {
  font-family: $vscode-font-family;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--vscode-textLink-foreground);
  text-decoration: inherit;
  
  &:hover {
    color: var(--vscode-textLink-activeForeground);
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  @include vscode-button;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  
  &:hover {
    border-color: var(--vscode-button-hoverBackground);
  }
  
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
  }
}