@use "../../scss/common";

.cell {
    // font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.treeitem {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.treeitem_select {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.headcell {
    padding-left: 8px;
    border-left-width: 8px;
    border-left-style: solid;
}

.fixframe {
    overflow: hidden auto;
    background-color: common.$background;
}
.cardframe {
    margin: '10px'
}