@import '../var';
@import '../theme';
@import '../common';
$nav_selected_color: rebeccapurple;

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 10px;
    overflow: hidden;
}

#app {
    height: 100%;
    padding: 0;
    margin: 0;
    >div {
        height: 100%;
    }
}

.vector {
    padding: 0;
    cursor: pointer;
    >button {
        height: 1.8rem;
        margin: 0;
    }
    span {
        text-wrap: nowrap;
    }
}
li.vector.active {
    background-color: #333;
}
li.active {
    background-color: var(--vscode-list-focusBackground);
    color: var(--vscode-list-focusForeground);
}


tr, td {
    font-family: $base-family;
}
tr td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.pcap-table table{
    table-layout: fixed;
}
@keyframes example {
    0%   {background-color: var(--vscode-list-focusBackground);}
    50%  {background-color: var(--vscode-list-deemphasizedForeground);}
    100% {background-color: var(--vscode-list-focusBackground);}
  }

tr[role=row]{
    background-color: $t-def;
    color: $t-def-font;
    &.active{
        animation-name: example;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        background-color: var(--vscode-list-focusBackground);
        color: var(--vscode-list-focusForeground);
    }
    &.errdata{
        background-color: $t-errdata;
        color: $t-errdata-font;
    }
    &.tcp{
        background-color: $t-tcp;
        color: $t-tcp-font;
    }
    &.arp{
        background-color: $t-arp;
        color: $t-arp-font;
    }
    &.http{
        background-color: $t-http;
        color: $t-http-font;
    }
    &.deactive{
        background-color: $t-deactive;
        color: $t-deactive-font;
    }
    &.tls{
        background-color: $t-tls;
        color: $t-tls-font;
    }
    &.ssdp{
        background-color: $t-ssdp;
        color: $t-ssdp-font;
    }
    &.udp{
        background-color: $t-udp;
        color: $t-udp-font;
    }
    &.dns{
        background-color: $t-dns;
        color: $t-dns-font;
    }
    &.pppoed{
        background-color: $t-pppoed;
        color: $t-pppoed-font;
    }
    &.pppoes{
        background-color: $t-pppoes;
        color: $t-pppoes-font;
    }
    &.icmp, &.icmpv6{
        background-color: $t-icmp;
        color: $t-icmp-font;
    }
}

.paging {
    button{
        margin: 0;
    }
}
.treemap{
    width: 45vw;
    border-right: 1px solid var(--vscode-list-focusBackground);
}
.hexvewer{
    width: calc(45vw - 2px);
    height: 30vh;
    overflow: auto;
}
.filter {
    margin: auto 0;
}
#dns-page {
    overflow: auto;
    
    tr[aria-level="2"] {
        button{
            padding: 0;
            width: 0 !important;
            margin: 0 !important;
        } 
    }
    td {
        padding: 0 5px;
        border-right: 1px solid $c-fg-0;
    }
    td, tr { 
        // padding: 1px !important;
        font-size: 1rem;
        color: $c-fg-0;
        background-color: $c-aqua;
    }
    tr[aria-level='1'] {
        background-color: $c-aqua;
    }
    tr[aria-level='2']{
        td {
            background-color: $c-blue;
            color: $c-fg-0;
        }
    }
    // tr[aria-level='2']:nth-child(2n) {
    //     background-color: #557C56;
    // }
}

