@import '../var';
@import '../theme';
@import '../common';
$nav_selected_color: rebeccapurple;

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 10px;
    overflow: hidden;
}

#app {
    height: 100%;
    padding: 0;
    margin: 0;
    >div {
        height: 100%;
    }
}

.vector {
    padding: 0;
    cursor: pointer;
    >button {
        height: 1.8rem;
        margin: 0;
    }
    span {
        text-wrap: nowrap;
    }
}
li.vector.active {
    background-color: #333;
}
li.active {
    background-color: var(--vscode-list-focusBackground);
    color: var(--vscode-list-focusForeground);
}


tr, td {
    font-family: $base-family;
}
tr td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.pcap-table table{
    table-layout: fixed;
}
$t-select :#94d2bd;
$t-select-font: #001219;

$t-def: var(--vscode-editor-background);
$t-def-font: var(--vscode-editor-foreground);


$t-tcp: #005f73;
$t-tcp-font: #edf2f4;


$t-arp: #84a98c;
$t-arp-font: #001219;


$t-http: #3AB0FF;
$t-http-font: #edf2f4;

$t-deactive: #8d99ae;
$t-deactive-font: #001219;

$t-tls: #cc6600;
$t-tls-font: #001219;

$t-udp: #A0937D;
$t-udp-font: #001219;

tr[role=row]{
    background-color: $t-def;
    color: $t-def-font;
    &.active{
        background-color: var(--vscode-list-focusBackground);
        color: var(--vscode-list-focusForeground);
    }
    &.tcp{
        background-color: $t-tcp;
        color: $t-tcp-font;
    }
    &.arp{
        background-color: $t-arp;
        color: $t-arp-font;
    }
    &.http{
        background-color: $t-http;
        color: $t-http-font;
    }
    &.deactive{
        background-color: $t-deactive;
        color: $t-deactive-font;
    }
    &.tls{
        background-color: $t-tls;
        color: $t-tls-font;
    }
    &.udp{
        background-color: $t-udp;
        color: $t-udp-font;
    }
}
.paging {
    button{
        margin: 0;
    }
}
.treemap{
    width: 45vw;
    border-right: 1px solid var(--vscode-list-focusBackground);
}
.hexvewer{
    width: calc(45vw - 2px);
    height: 30vh;
    overflow: auto;
}