@use "../../scss/common";

html {
    margin: 0;
    padding: 0;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    #app {
        height: 100%;
        overflow-x: hidden;
    }
    overflow-x: hidden;
}
.fui-DataGridRow:hover {
    background-color: #777 !important;
}

.page-card {
    background-color: common.$background;
    overflow: hidden;
    padding: 5px;
    margin: 0;
    height: calc(100% - 10px);
    // width: calc(100% - 10px);
}