$base: 16px;
$base-color: #c6538c;
$base-bk-color: #524C42;
$base-family: "0xProto Nerd Font", sans-serif;
$table-bk: #212529;

$background: #1d2021;
$foreground: #ebdbb2;

$c-fg-0: #fbf1c7;

$c-bg-h-0: #1d2021;
$c-bg-0: #282828;
$c-bg-1: #3c3836;

$c-blue: #458588;
$c-green: #98971a;
$c-red: #cc241d;
$c-aqua: #689d6a;
$c-purple: #b16286;
$c-yellow: #d79921;

$w-blue: #83a598;
$w-green: #b8bb26;
$w-red: #fb4934;
$w-aqua: #8ec07c;
$w-purple: #d3869b;
$w-yellow: #fabd2f;


$t-select :#94d2bd;
$t-select-font: #001219;

$t-def: var(--vscode-editor-background);
$t-def-font: var(--vscode-editor-foreground);


$t-tcp: $c-blue;
$t-tcp-font: $c-fg-0;


$t-errdata: #C96868;
$t-errdata-font: #F5F5F5;


$t-arp: $w-green;
$t-arp-font: $c-bg-h-0;


$t-http: $c-green;
$t-http-font: $c-fg-0;

$t-deactive: #8d99ae;
$t-deactive-font: #001219;

$t-tls: $c-aqua;
$t-tls-font: $c-fg-0;

$t-udp: $c-yellow;
$t-udp-font: $c-bg-h-0;


$t-ssdp: #739588;
$t-ssdp-font: $c-fg-0;

$t-dns: #C0D6E8;
$t-dns-font: #A34343;


$t-icmp: #604CC3;
$t-icmp-font: #F5F5F5;

$t-common: #557C56;
$t-common-font: #FFE5CF;

$t-pppoes: #779988;
$t-pppoes-font: $c-fg-0;

$t-pppoed: #669988;
$t-pppoed-font: $c-fg-0;