@import '../../common';

.tls-page {

    tr {
        &.status-warn {
            background-color: $c-yellow !important;
            color: $c-fg-0 !important;
        }

        &.status-normal {
            background-color: $c-aqua;
            color: $c-fg-0 !important;
        }
    }

}