@use '../../common';

.tls-page {

    tr {
        &.status-warn {
            background-color: common.$c-yellow !important;
            color: common.$c-fg-0 !important;
        }

        &.status-normal {
            background-color: common.$c-aqua;
            color: common.$c-fg-0 !important;
        }
    }

}