#detail {
    overflow: auto;
    padding: 0;
    margin: 0;
    font-size: 12px;
}
#detail {
    overflow: auto;
    padding: 0;
    margin: 0;
    font-size: 12px;
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: left;
    width: 45rem;
}
#detail>.index {
    flex-basis: 7rem;
    flex-shrink: 0;
    flex-grow: 0;
}
#detail>.hex {
    flex-basis: 25rem; 
    display: flex; 
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 0;
}
#detail>.text {
    flex-basis: 14rem;
    overflow: none;
}
#detail>.text>pre {
    width: 14rem;
    white-space: break-spaces;
    word-break: break-all;
}
pre {
    margin: 0 14px;
    padding: 0;
    text-align: right;
    font-family: "0xProto Nerd Font", sans-serif;
}
code {
    margin: 0;
    padding: 0;
    flex-basis: 6.22%;
    text-align: center;
    font-family: "0xProto Nerd Font", sans-serif;
    border-radius: 0;
}
code.active {
    background-color: darkgoldenrod;
    color: darkblue;
}
dv{
    margin: 1px 0px;
    padding: 0;
    flex-basis: 1rem;
}