name: Build_Website

on:
  push:
    branches: [ "release/*" ]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: ENV
      run: |
        cargo --version
        rustc -vV
        echo "version ${GITHUB_REF#refs/heads/release/}"
    - name: document
      run: |
        cd doc && npm install && npm run docs:build
    - name: Install
      run: |
        curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
        npm install -g pnpm
    - name: Build
      run: make web-demo
    - name: Prepare deployment folder
      run: |
        mkdir -p deploy
        cp -r doc/.vitepress/dist/* deploy/
        mkdir -p deploy/app
        cp -r webview/dist/* deploy/app/
    - name: Upload GitHub Pages artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: deploy

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4